{% extends 'base/base.html' %}
{% block header%}
{{ super() }}

{% endblock%}
<!--<link rel="stylesheet" href="https://maxcdn.bootstrapcdn.com/bootstrap/4.0.0/css/bootstrap.min.css" integrity="sha384-Gn5384xqQ1aoWXA+058RXPxPg6fy4IWvTNh0E263XmFcJlSAwiGgFAW/dAiS6JXm" crossorigin="anonymous">-->
<!--<!DOCTYPE html>-->
<!--<html lang="en">-->
<!--<head>-->
<!--    <meta charset="UTF-8">-->
<!--    <meta name="viewport" content="width=device-width, initial-scale=1.0">-->
<!--    <title>Airport | Flying</title>-->
<!--    <link rel="stylesheet" href="/static/user_index.css">-->
<!--    <link href="https://fonts.googleapis.com/css2?family=Poppins:wght@300;400;500;600;700&display=swap"-->
<!--        rel="stylesheet">-->
<!--    <link rel="stylesheet" href="https://stackpath.bootstrapcdn.com/font-awesome/4.7.0/css/font-awesome.min.css">-->
<!--    <link rel="stylesheet" href="/static/user.css" />-->
<!--</head>-->
<!--<div class="header">-->
<!--        <div class="container">-->
<!--            <div class="navbar">-->
<!--                <div class="logo">-->
<!--                    <a href=""><img src="https://upload.wikimedia.org/wikipedia/commons/thumb/0/0c/Hcmute.svg/1200px-Hcmute.svg.png" width="125px"></a>-->
<!--                </div>-->
<!--                <nav>-->
<!--                    <ul id="MenuItems">-->
<!--                        <li><a href="">Home</a></li>-->
<!--                        <li><a href="{{url_for('book_flight')}}">Book Flight</a></li>-->
<!--                        <li><a href="{{url_for('search_flight')}}">Search Flight</a></li>-->
<!--                        <li><a href="{{url_for('received_flight')}}">Contact</a></li>-->
<!--                        <li><a href="{{url_for('search_flight')}}">Account</a></li>-->
<!--                    </ul>-->

<!--                </nav>-->
<!--            </div>-->
<!--        </div>-->
<!--    </div>-->