<link rel="stylesheet" href="https://maxcdn.bootstrapcdn.com/bootstrap/4.0.0/css/bootstrap.min.css" integrity="sha384-Gn5384xqQ1aoWXA+058RXPxPg6fy4IWvTNh0E263XmFcJlSAwiGgFAW/dAiS6JXm" crossorigin="anonymous">
<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <title>Home</title>
    <link rel="stylesheet" href="/static/user.css" />
</head>
<body>
    <span style="font-size:30px;padding-left:10px;font-weight:bold;">Do you have an account??</span>
    <form action="/login" method="get">
        <button type="submit" class="btn btn-primary btn-lg">Login</button>
    </form>
    <form action="/register" method="get">
        <button type="submit" class="btn btn-secondary btn-lg">Register</button>
    </form>

</body>
</html>