<link rel="stylesheet" href="/static/header.css"/>

<div class="header">
    <div class="container">
        <div class="navbar">
            <div class="logo">
                <a href="/"><img
                        src="https://upload.wikimedia.org/wikipedia/commons/thumb/0/0c/Hcmute.svg/1200px-Hcmute.svg.png"
                        width="125px"></a>
            </div>
            <nav>
                <ul id="MenuItems">
                    <li><a href="{{url_for('search_flight')}}">Home</a></li>
                    <li><a href="{{url_for('received_flight')}}">Flight</a></li>
                    <li><a href="{{url_for('history')}}">History</a></li>
                    <li><a href="{{url_for('account')}}">Account</a></li>
                    <li>{% if session['user'] %}
                        <a href="{{url_for('logout')}}">
                           <div class="btn btn-danger">{{session.user.FullName}} Logout</div>
                        </a>
                        {% else %}
                        <a href="{{url_for('user_login')}}">
                            <div class="btn btn-danger">Login</div>
                        </a>
                        {% endif %}
                    </li>
                </ul>

            </nav>
        </div>
    </div>
</div>