<link rel="stylesheet" href="/static/header.css"/>
<div class="header">
        <div class="container">
            <div class="navbar">
                <div class="logo">
                    <a href=""><img src="https://upload.wikimedia.org/wikipedia/commons/thumb/0/0c/Hcmute.svg/1200px-Hcmute.svg.png" width="125px"></a>
                </div>
                <nav>
                    <ul id="MenuItems">
                        <li><a href="/"></a></li>
                        <li><a href="book_flight">Book Flight</a></li>
                        <li><a href="search_flight">Search Flight</a></li>
                        <li><a href="received_flight">Contact</a></li>
                        <li><a href="account.html">Account</a></li>
                    </ul>

                </nav>
            </div>
        </div>
    </div>